
html, body {
  height: 100%;
}

body {
	   background-color: #800000;
	   /* Full height */
    height: 100%; 

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
 
}

